window {
        background-color: rgba(60, 56, 54, 1);
	font-family: "RobotoMono Nerd Font";
	font-size: 14;
	font-weight: 900;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px;
	border-radius: 10px;
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: rgba(60, 56, 54, 0.85);
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	border-color: rgba(60, 56, 54, 0.7);
	padding: 5px;
	margin: 5px;
}


button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
	color: rgba(235, 219, 178, 1);
}

button:hover {
	background-color: rgba(235, 219, 178, 0.1);
}
